@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.eot');
    src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular.woff') format('woff'),
         url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto-Medium.eot');
    src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Medium.woff') format('woff'),
         url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

.head {
    background-color: #fff;
    height: 72px;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);

}

.head > .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 119px;
    margin-top: 3px;
    justify-content: flex-start;
}

.top-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.sign-in {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    width: 78px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in > div {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 13px;
    color: #1d1d1d;
}

.basket {
    margin-left: 27px;
}

.basket img{
    width: 20px;
}

.search {
    width: 100%;
    height: 48px;
    margin-top: 32px;
}

#search {
    width: 100%;
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid rgba(38, 38, 38, 0.16);
    font-size: 16px;
    color: #626262;
}

#search:focus {
    outline: none;
    background: none;
}

#search::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #979797;
}

.restaurants {
    margin-top: 56px;
}

.restaurants h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #1d1d1d;
}

.card {
    margin-top: 16px;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
}

.card h3 {
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #1d1d1d;
}

.categories {
    margin-top: 8px;
}

.index, .category_item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #626262;
}

.category_item::before {
  content: "\2022";
  display: inline-block;
  font-size: 16px;
  width: 0.6em;
}

.time {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #1d1d1d;
}

footer {
    min-height: 552px;
    margin-top: 80px;
    padding-top: 56px;
    background-color: #262626;
    font-size: 13px;
    position: relative;
}

footer .logo img {
    width: 191px;
}

.footer_info::before,
.apps::before,
.terms::before {
    display: inline-block;
    content: "";
    border-top: 1px solid rgba(151, 151, 151, .5);
    width: 100%;
    margin-top: 40px;
}

.footer_info .row {
    padding-top: 32px;
}

footer select {
    min-width: 227px;
    min-height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 13px;
    background-color: #3B3B3B;
    padding: .2em .5em .2em 2.5em;
    background-image: url(/img/icons/lang_world.svg);
	background-repeat: no-repeat;
	background-size: 1em auto;
	background-position: 1em center;
}

footer select:focus {
    outline: none !important;
}

footer select:hover {
    border: 1px solid #979797 !important;
}

.uber-tag {
    margin-top: 33px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.uber-tag > span {
    color: #49a144;
}

.social-media {
    width: 92px;
    margin-top: 17px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.social-media img:hover {
    background-color: #646464;
}

footer ul {
    list-style-type: none;
}

footer ul li,
.terms {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #ffffff;
}

footer ul li:not(:first-child) {
    margin-top: 23px;
}

.apps > .wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.apps div {
    margin: 20px 20px 0;
}

img.apple {
    width: 121px;
}

img.google {
    width: 135px;
}

.terms .row {
    padding: 40px 0;
}

.arrow-bottom {
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 32px;
    position: absolute;
    bottom: 24px;
    right: 16px;
    background-color: #59bd5a;
    padding: 18px 31px;
}

.rest-name {
    height: 364px;
    padding-top: 80px;
    background-image: url("/img/bg_rest_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.rest-name .row > div {
    background-color: #ffffff;
    height: 204px;
    padding: 38px 0;
    /*padding: 38px 29px 38px 38px;*/
}

.rest-name h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #1d1d1d;
    text-align: center;
}

.rest-name .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 54px;
}

.rest-name .categories {
    margin-top: 0;
}

.rest-name .index,
.rest-name .category_item {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #626262;
}

.rest-name .category_item::before {
  content: "\2022";
  display: inline-block;
  font-size: 13px;
  width: 0.6em;
}

.rest-name .time {
    margin: 0;
    padding: 8px 16px;
    width: 100px;
    height: 32px;
    background-color: #262626;
    border: none;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #ffffff;
}

.nav-dish-categories {
    width: 100%;
    height: 80px;
    padding-top: 32px;
    border-bottom: 1px solid rgba(117, 117, 117, .2);
}

.dish-category {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #626262;
}

.dish-category:not(:first-child) {
    margin-left: 40px;
}

.dish-category.active {
    color: #327430;
}

.dishes {
    padding-top: 56px;
    padding-bottom: 80px;
}

.dishes h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #1d1d1d;
}

/* ------------- Mobile phones ------------- */

@media  screen and (max-width: 767px) {
    .basket {
        display: none;
    }
    .arrow-bottom {
        width: 64px;
        height: 64px;
        padding: 10px 24px;
    }
    footer ul li:first-child {
        margin-top: 23px;
    }
    .terms .row div:not(:first-child) {
        margin-top: 1.6rem;
    }
    .dishes {
        padding-bottom: 40px;
    }
}


/* ---------------- Tablets ---------------- */

@media  screen and (max-width: 991px) {
    .basket {
        margin-left: 16px;
    }
    .dishes {
        padding-bottom: 48px;
    }
}